<label id="example-radio-group-label">Select your role</label>
<mat-radio-group aria-labelledby="example-radio-group-label"
                 [value]="role$ | async">
  <mat-radio-button class="example-radio-button"
                    *ngFor="let role of roles"
                    (click)="toggleRole(role)"
                    [value]="role">
    {{role | uppercase}}
  </mat-radio-button>
</mat-radio-group>
<div>Your current role is: {{role$ | async}}</div>
<app-table [data$]="permissions$"></app-table>
